* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  text-transform: capitalize;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.form {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);
}  

.form-content {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #000000;
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.title-back-checkbox {
  display: flex;
  align-items: flex-end;
}

.field {
  position: relative;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 8px;
}

.field-back-checkbox {
  width: 20px;
}

.field-back {
  display: none;
}

.hint {
  position: absolute;
  padding: 4px 10px;
  color: red;
}

.hint-active {
	background: #ffffff;
  border: 1px solid #ff0000;
  border-radius: 8px;
}
.hint-active:after, .hint-active:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.hint-active:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.hint-active:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #ff0000;
	border-width: 11px;
	margin-left: -11px;
}

.form-controls {
  display: flex;
  justify-content: space-evenly;
}

.button-form {
  cursor: pointer;
  width: 35%;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: inherit;
}

.button-form:hover {
  background-color: rgb(222, 222, 222);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

.tickets {
  margin-top: 20px;
  font-size: 1.5rem;
}

.ticket-to,
.ticket-back {
  display: flex;
  justify-content: space-between;
}

